<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    BOOK Details 
  </h1>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="auther">
        <mat-header-cell *matHeaderCellDef> Auther </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.auther}} </mat-cell>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="pages">
        <mat-header-cell *matHeaderCellDef> Pages </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pages}} </mat-cell>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  

     
  
    

    

  

 </div>


